
@hoverBackground: #ffffdc;

table {
    td, th {
        padding: 2px 4px;
    }

    thead td {
        text-align: right;
    }

    tbody {
        tr:nth-child(2n - 1) td:nth-child(n+1):nth-child(-n+2),
        tr:nth-child(2n) td {
            border-bottom: solid 3px black
        }

        tr:nth-child(2n - 1) td:nth-child(n+3):hover {
            cursor: pointer;
            background: @hoverBackground;
        }

        .winner {
            background: #bff8ad;
        }
    }

    [data-action="addRound"] {
        text-align: center;

        &:hover {
            cursor: pointer;
            background: #ffffdc;
        }
    }

    tr:nth-child(2n) td {
        background-color: #e6e6e6;
    }

}

#handCreator {
    .suitGroups li,
    .handContent li {
        display: inline-block;
        margin: 0 3px;
    }

    .suitGroups li {
        border: solid 1px gray;
        padding: 3px;
        line-height: 0;

      &:hover {
        background: @hoverBackground;
        cursor: pointer;
      }

    }

    .suitGroups ul {
        margin: 2px;
        padding: 0;

        li.selected {
            background: #bff8ad;
        }
    }

    .handContent ul {
        display: inline-block;
        padding: 0 3px;
        border: solid 1px gray;
        margin: 3px;
        float: left;
        clear: left;
        position: relative;
        padding-right: 20px;
    }

    .revealedSet {
        background: #ececec;

        li:nth-child(2) {
            transform: rotate(90deg);
        }
    }

    .handContent .actionDelete {
        position: absolute;
        cursor: pointer;
        padding: 3px;
        right: 3px;

        &:hover {
            background: @hoverBackground;
        }
    }

    .finishHandSection label {
        display: block;
    }
}

.tile-icon {
    display: inline-block;
}

img.tile {
    width: 3rem;
    display: block;
    padding: 3px;
}

.gamePanel.hidden {
    display: none;
}

.gamesList {
    border: solid 1px black;

    div:hover {
        background: @hoverBackground;
            cursor: pointer;
    }

    div div {
        padding-left: 1rem;
        padding-right: 1rem;
        border-bottom: solid 1px black;
        border-right: solid 1px black;
    }

    div:last-child div {
        border-bottom: none;
    }

    div div:last-child {
        border-right: none;
    }

    div div:first-child {
        line-height: 3rem;
        vertical-align: middle;
    }

    div div:nth-child(n+2) {
        span {
            display: block;

            &:nth-child(2) {
                text-align: right;
            }
        }
    }
}

.gamesList li {
    list-style: none;
    cursor: pointer;
}

.gamesList li:hover {
    background: @hoverBackground;
}