<body>
<div>
    <a href="#">Wróć</a> do listy gier
    <table cellspacing="0" cellpadding="0">
        <thead>
            <tr class="tableHeader">
                <th></th>
                <th></th>
                <th colspan="4">Punktacja rundy</th>
                <th colspan="4">Punktacja łączna</th>
            </tr>
            <tr>
                <th>Runda</th>
                <th>Wiatr rundy</th>
                <th data-slot="player1Name">Grzesiek</th>
                <th data-slot="player2Name">Wojtek</th>
                <th data-slot="player3Name">Gosia</th>
                <th data-slot="player4Name">Ola</th>
                <th data-slot="player1Name">Grzesiek</th>
                <th data-slot="player2Name">Wojtek</th>
                <th data-slot="player3Name">Gosia</th>
                <th data-slot="player4Name">Ola</th>
            </tr>
        </thead>
        <tbody></tbody>
        <tfoot>
            <tr>
                <td>&nbsp;</td>
                <td data-action="addRound" colspan="5">Dodaj rundę</td>
            </tr>
        </tfoot>
    </table>
</div>
</body>