<body>
<div>
    <a href="#">Wróć</a> do listy gier
    <table cellspacing="0" cellpadding="0">
        <thead>
            <tr>
                <th>Runda</th>
                <th>Wiatr rundy</th>
                <th data-slot="player1Name">Grzesiek</th>
                <th data-slot="player2Name">Wojtek</th>
                <th data-slot="player3Name">Gosia</th>
                <th data-slot="player4Name">Ola</th>
            </tr>
        </thead>
        <tbody data-slot="rows"></tbody>
        <tfoot>
            <tr>
                <td>&nbsp;</td>
                <td data-action="addRound" colspan="5">Dodaj rundę</td>
            </tr>
        </tfoot>
    </table>

    <template data-name="row">
        <tr>
            <td rowspan="2" data-slot="roundNumber"></td>
            <td rowspan="2" data-slot="windIndicator"></td>
            <td data-slot="player1RoundBalance" data-action="handEdit"></td>
            <td data-slot="player2RoundBalance" data-action="handEdit"></td>
            <td data-slot="player3RoundBalance" data-action="handEdit"></td>
            <td data-slot="player4RoundBalance" data-action="handEdit"></td>
        </tr>
        <tr>
            <td data-slot="player1CumulativeBalance"></td>
            <td data-slot="player2CumulativeBalance"></td>
            <td data-slot="player3CumulativeBalance"></td>
            <td data-slot="player4CumulativeBalance"></td>
        </tr>
    </template>

    <template data-name="winner">
        <strong data-slot="roundBalance"></strong>
    </template>
</div>
</body>