<body>
    <div>
        <h1>Mahjong Games List</h1>
        <button class="button">Utwórz nową grę</button>
        <div class="gamesList" data-slot="games"></div>
    </div>

    <template data-name="gameRow">
        <div class="grid-x ">
            <div class="cell auto">Runda <span data-slot="roundNumber"></span></div>
            <div class="cell auto">
                <span data-slot="player1Name"></span>
                <span data-slot="player1Score"></span>
            </div>
            <div class="cell auto">
                <span data-slot="player2Name"></span>
                <span data-slot="player2Score"></span>
            </div>
            <div class="cell auto">
                <span data-slot="player3Name"></span>
                <span data-slot="player3Score"></span>
            </div>
            <div class="cell auto">
                <span data-slot="player4Name"></span>
                <span data-slot="player4Score"></span>
            </div>
        </div>
    </template>
</body>