<body>
<div>
<form id="handCreator">
    <h2>Składanie ręki: <span data-slot="playerName">GRACZ</span>, runda <span data-slot="roundNumber">##</span></h2>
    <div class="suitGroups"></div>
    <div>
        <fieldset>
            Układ:
            <input id="setRevealed" type="radio" name="revealed" checked value="1"> <label for="setRevealed">Odkryty</label>
            <input id="setConcealed" type="radio" name="revealed" value=""> <label for="setConcealed">Zakryty</label>
        </fieldset>

        <button class="button small" data-action="addPair">Para</button>
        <button class="button small" data-action="addChow">Chow</button>
        <button class="button small" data-action="addPung">Pung</button>
        <button class="button small" data-action="addKong">Kong</button>
        <button class="button small" data-action="addTiles">Luźne kamienie</button>
    </div>
    <div class="grid-x">
      <div class="cell small-6">
          <h4>Zawartość ręki</h4>
          <div class="handContent clearfix"></div>
      </div>
      <div class="cell small-6">
          <h4>Reguły punktowania</h4>
          <div class="handScoreRules"></div>
      </div>
    </div>

    <div class="grid-x finishHandSection">
        <div class="cell small-6">
            <h4>Zakończenie gry</h4>
            <label><input name="isWinner" type="checkbox"> Mahjong</label>
            <label><input name="lastTileFromWall" type="checkbox"> Ostatni kamień z muru</label>
            <label><input name="lastTileSpecial" type="checkbox"> Zwycięstwo z dna morza/rzeki/na dachu</label>
            <label><input name="lastAvailableTile" type="checkbox"> Majhong ostatnim możliwym kamieniem</label>

        </div>
        <div class="cell small-6">
            <h4>Układy specjalne</h4>
            <label><input name="specialSet" type="radio" value="minor-hunt">Mniejszy, polowanie (1/5 limitu)</label>
            <label><input name="specialSet" type="radio" value="minor-mahjong">Mniejszy, mahjong (1/2 limitu)</label>
            <label><input name="specialSet" type="radio" value="major-hunt">Większy, polowanie (2/5 limitu)</label>
            <label><input name="specialSet" type="radio" value="major-mahjong">Większy, majhong (limit)</label>
            <label><input name="specialSet" type="radio" value="">Brak</label>
        </div>
    </div>
    <div>
        <button class="button small" data-action="finishHand">Zakończ tworzenie ręki</button>
    </div>
</form>
    </div>
</body>