<body>
<form id="handCreator">
    <h2>Składanie ręki: <span data-slot="playerName"></span>, runda <span data-slot="roundNumber"></span></h2>
    <div class="suitGroups"></div>
    <div>
        <fieldset>
            Układ:
            <input id="setRevealed" type="radio" name="revealed" checked value="1"> <label for="setRevealed">Odkryty</label>
            <input id="setConcealed" type="radio" name="revealed" value=""> <label for="setConcealed">Zakryty</label>
        </fieldset>

        <button class="button small" data-action="addPair">Para</button>
        <button class="button small" data-action="addChow">Chow</button>
        <button class="button small" data-action="addPung">Pung</button>
        <button class="button small" data-action="addKong">Kong</button>
        <button class="button small" data-action="addTiles">Luźne kamienie</button>
    </div>
    <div class="handContent"></div>
    <div class="finishHandSection">
        <label><input name="isWinner" type="checkbox"> Mahjong</label>
        <label><input name="lastTileFromWall" type="checkbox"> Ostatni kamień z muru</label>
        <label><input name="lastTileSpecial" type="checkbox"> Zwycięstwo z dna morza/rzeki/na dachu</label>
        <label><input name="lastAvailableTile" type="checkbox"> Majhong ostatnim możliwym kamieniem</label>
        <button class="button small" data-action="finishHand">Zakończ tworzenie ręki</button>
    </div>
</form>
</body>